<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <h2><%= post.message %></h2>
            <img src="<%= post.imageUrl %>" alt="Image of <%= post.message %>" width="200" />
            <p>Post by <%= post.postedBy.name %> (<%= post.postedBy.username %>) at <%= post.createdAt %></p>
            <% if(post.likedBy.length > 0) { %>
                <p>
                    <%= post.likedBy.length %> likes:
                    <ul>
                        <% post.likedBy.forEach(function(user) {%>
                            <li><%= user.name %></li>
                        <% }); %>
                    </ul>
                </p>
            <% } %>
        </li>
    <% }); %>
</ol>
</body>
<%- include('_footer') -%>
</html>